<%- include('../../includes/header', {currentUser, schoolTypes}) %>

    <div class="main-content p-3">

        <div class="mb-3 d-flex">
            <h2 class="title">School Types</h2>
            <div class="ms-auto">
                <a type="button" class="btn btn-primary" href="/dashboard/school-types/new"><i
                        class="bi bi-plus-lg"></i>New</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <% schoolTypes.map((schoolType, index)=> { %>
                    <% const { id, name }=schoolType; %>
                        <tr>
                            <th scope="row">
                                <%= index + 1 %>
                            </th>
                            <td>
                                <a href="/dashboard/school-types/<%= id %>">
                                    <%= name %>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
            </tbody>
        </table>
    </div>


    <!-- <%- include('../../includes/footer') %> -->