<%- include('../../includes/header', {currentUser}) %>

    <div class="main-content p-2">

        <div class="mb-3 d-flex">
            <h2 class="title">Admin Users</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <% adminUsers.map((user, index)=> { %>
                    <% const { id, firstName, lastName, userName}=user; %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td>
                                <a href="/dashboard/admins/<%= id %>">
                                <%= user.firstName %>
                                </a>
                            </td>
                            <td>
                                <%= lastName %>
                            </td>
                            <td>
                                <%= userName %>
                            </td>
                        </tr>
                        <% }); %>
            </tbody>
        </table>
    </div>


<%- include('../../includes/footer') %>