<%- include('../../includes/header', {currentUser, users}) %>

    <div class="main-content p-2">

        <div class="mb-3 d-flex">
            <h2>Users</h2>
            <div class="ms-auto">
                <button type="button" class="btn btn-primary"><i class="bi bi-plus-lg"></i>New</button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <% users.map((user, index)=> { %>
                    <% const { id, firstName, lastName, userName}=user; %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td>
                                <a href="/dashboard/users/<%= id %>">
                                <%= user.firstName %>
                                </a>
                            </td>
                            <td>
                                <%= lastName %>
                            </td>
                            <td>
                                <%= userName %>
                            </td>
                        </tr>
                        <% }); %>
            </tbody>
        </table>
    </div>


    <!-- <%- include('../../includes/footer') %> -->