<%- include('../../includes/header', {currentUser, schools}) %>

    <div class="main-content p-3">

        <div class="mb-3 d-flex">
            <h2>Schools</h2>
            <div class="ms-auto">
                <a type="button" class="btn btn-primary" href="/dashboard/schools/new"><i class="bi bi-plus-lg"></i>New</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">FullName</th>
                    <th scope="col">Type</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% schools.map((school, index)=> { %>
                    <% const { id, name, fullName, type, address, phone, email}=school; %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td>
                                <a href="/dashboard/schools/<%= id %>">
                                <%= name %>
                                </a>
                            </td>
                            <td>
                                <%= fullName %>
                            </td>
                        </tr>
                        <td>
                            <%= address %>
                        </td>
                        <td>
                            <%= phone %>
                        </td>
                        <td>
                            <%= email %>
                        </td>
                        <% }); %>
            </tbody>
        </table>
    </div>


<%- include('../../includes/footer') %>