<%- include('../../includes/header', { currentUser}) %>

    <div class="main-content p-3">

        <% const {id, name, email, phone, address, SchoolType}=school %>

            <div class="mb-3 d-flex">
                <h2>School</h2>
                <div class="ms-auto">
                    <a type="button" class="btn btn-outline-danger" href="/dashboard/schools/<%= id  %>/actions"><i class="bi bi-gear"> </i></i>actions</a>
                </div>
    
            </div>

            <div>
                <div class="card mb-3">
                    <h5 class="card-header">
                        <%= school.name %>
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">Type</h5>
                        <p class="card-text">
                            <%= SchoolType.name %>
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Name</h5>
                        <p class="card-text">
                            <%= name %>
                        </p>

                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Phone</h5>
                        <p class="card-text">
                            <%= phone %>
                        </p>

                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Email</h5>
                        <p class="card-text">
                            <%= email %>
                        </p>

                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Address</h5>
                        <p class="card-text">
                            <%= address %>
                        </p>

                    </div>
                </div>
            </div>
    </div>
    <%- include('../../includes/footer', { currentUser}) %>