<%- include('../../includes/header', {currentUser}) %>

    <div class="main-content p-3">

        <div class="mb-3 d-flex">
            <h2 class="title">Schools</h2>
            <div class="ms-auto">
                <a type="button" class="btn btn-primary" href="/dashboard/students/new"><i class="bi bi-plus-lg"></i>New</a>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Reg No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">DOB</th>
                </tr>
            </thead>
            <tbody>
                <% students.map((student, index)=> { %>
                    <% const { id, regNumber, User}=school; %>
                    <% const { fullName, dob } = User; %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td>
                                <a href="/dashboard/students/<%= id %>">
                                <%= regNumber%>
                                </a>
                            </td>
                            <td>
                                <%= fullName %>
                            </td>
                            <td>
                                <%= Date(dob).toDateString() %>
                            </td>
                            <% }); %>
                        </tr>
            </tbody>
        </table>
    </div>


<%- include('../../includes/footer') %>